.accordian-main {
    -webkit-text-decoration: none;
    text-decoration: none;
    color: #fff;
    display: flex;
  }
  
  
  .image-style1 {
 
    display: flex;
    flex-wrap: wrap;
    align-items:flex-start;
    gap: 12px;
    margin: auto;
    padding: 3px; 
  }

  .projects{

      display: flex;
      flex-wrap: wrap;
      align-items:flex-start;
      
      object-fit: cover;

  }

  .project{
    margin: 20px;
  }
  .project:hover {
    transform: scale(1.25);
  }

  @media (max-width: 800px) {
    .projects {
      flex-direction: column;
    }
  }